body {
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.877);
  background-image: url(../imege/מקלדת.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

header {
  background-color: rgba(0, 0, 0, 0.719);
  width: 100%;
  height: 220px;
  margin-top: 50px;
  display: flex;
}

#logo {
  margin-right: 80%;
}

.container {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 50px;
}

.game-item {
  position: relative;
  width: 300px;
  height: 250px;
  margin: 10px;
}

.img,
.myImg {
  width: 100%;
  height: 100%;
  border: solid 1px #000000;
  transition: transform 0.3s ease;
}

.myImg:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.game-item:hover .overlay {
  display: flex;
}

.status {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.game-item.active .overlay {
  display: none !important;
}